<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />

  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="css/admin.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <div class="login-container">
      <h2 class="login-heading">Admin Login</h2>
      <form id="loginForm" action="../controller/traitementAdmin.php" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-login">Se connecter</button>
      </form>
    </div>
</div>


</body>
</html>